<!-- Footer -->
<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Ben's Bibles</strong>
        </h4>
        <address>5021 Curtis Clark Dr 
        <br>Corpus Christi TX 78411</address>
        <ul class="list-unstyled">
          <li><i class="fas fa-phone"></i> <i class="fas fa-comment"></i> (808) 224-4568</li>
          <li><a href="mailto:bensbibles@yahoo.com"><i class="far fa-envelope"></i> bensbibles@yahoo.com</a></li>
          <li><a href="https://www.facebook.com/bensbibles/"><i class="fab fa-facebook"></i> bensbibles on Facebook</a></li>
          <li><a href="https://www.instagram.com/bensbibles/"><i class="fab fa-instagram"></i> @bensbibles on instagram</a></li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Ben's Bibles</p>
        <p class="text-muted"><a href="https://www.everything-it.biz">Site design and maintenance by Everything I.T. LLC</a></p>
      </div>
    </div>
  </div>
</footer>
