<!-- Footer -->
<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Bensbibles</strong>
        </h4>
        <address>2804 Earls Trail
        <br>Beeville TX 78102</address>
        <ul class="list-unstyled">
        <li><i class="fas fa-phone"></i> <i class="fas fa-comment"></i> (808) 224-4568</li>
        <li><a href="mailto:bensbibles@yahoo.com"><i class="far fa-envelope"></i> bensbibles@yahoo.com</a></li>
        <li><a href="https://www.facebook.com/bensbibles/"><i class="fab fa-facebook"></i> bensbibles on Facebook</a></li>
        <li><a href="https://www.instagram.com/bensbibles/"><i class="fab fa-instagram"></i> @bensbibles on instagram</a></li>
        <li><a href="https://www.etsy.com/shop/bensbibles"><i class="fab fa-etsy"></i> bensbibles on Etsy</a></li>
        <li><a href="https://www.youtube.com/user/TheKahu78/videos"><i class="fab fa-youtube"></i> bensbibles on youtube</a></li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Bensbibles</p>
        <p class="text-muted"><a href="https://www.everything-it.biz">Site design and maintenance by Everything I.T. LLC</a></p>
      </div>
    </div>
  </div>
</footer>
