---
title: Welcome to Ben's Bibles
---

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>We make custom Bibles and rebind old broken Bibles and other precious books</h2>
        <p class="lead">We make and rebind custom, special order Bibles in custom and special order leathers. We can make or rebind a Bible in any leather you desire, or take any off-the-shelf book and re-cover it with custom leather. We also stock non-customized, handmade quality Bibles that are designed by craftsman Benjamin Vannoy</p>
        You can find us on Facebook, Instagram, Etsy and Youtube. You can also call, text or email with any questions.
        <ul class="list-unstyled">
        <li><i class="fas fa-phone"></i> <i class="fas fa-comment"></i> (808) 224-4568</li>
        <li><a href="mailto:bensbibles@yahoo.com"><i class="far fa-envelope"></i> bensbibles@yahoo.com</a></li>
        <li><a href="https://www.facebook.com/bensbibles/"><i class="fab fa-facebook"></i> bensbibles on Facebook</a></li>
        <li><a href="https://www.instagram.com/bensbibles/"><i class="fab fa-instagram"></i> @bensbibles on instagram</a></li>
        <li><a href="https://www.etsy.com/shop/bensbibles"><i class="fab fa-etsy"></i> bensbibles on Etsy</a></li>
        <li><a href="https://www.youtube.com/user/TheKahu78/videos"><i class="fab fa-youtube"></i> bensbibles on youtube</a></li>
      </ul>
        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Products and Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "custom.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Custom Bibles</strong>
              </h4>
              <p>
                Custom Bibles, made to order, using a Bible you send us, or we provide. We can make the Bible using any leather you desire
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "handcrafted.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Handcrafted, Designer Bibles</strong>
              </h4>
              <p>
                While not customized, we keep these Bibles in stock, ready to order. They make a beautiful gift, or a great reference Bible. These Bibles are designed by craftsman Benjamin Vannoy, and then handmade to specification
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "rebinding.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Rebinding and Re-covering</strong>
              </h4>
              <p>
                We can take any family hierloom Bible, in just about any condition, and refashion it into a work of art. You ship us the Bible, and we can recondition it, rebind it, and build a new custom leather cover that will last for generations to come
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "training.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Training and Knowledge Transfer</strong>
              </h4>
              <p>
                We provide a training video to teach you how to rebind and refurbish precious books and material.
                <a href="https://www.etsy.com/listing/507708917/how-to-bookbinding-video-with-ben-vannoy">Please visit Etsy to purchase the video</a>
              </p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
